how many SubjectAltName are there?

````
Section 4.1

        The client sets up a TLS connection to a server, attaches a client
        certificate with one subjectAltName element dNSName indicating
        the DNS owner name of the client [RFC5280]. If the client is a
        user, their user identity is added in one subjectAltName element
        otherName holding their uid attribute [RFC4519] or email address
        [RFC9598].

I find the use of the word "added" confusing. Does that mean there are two
subjectAltNames
now? and what was the first one than? Maybe:

        If that client is a user, that certificate with one subjectAltName
        holds their uid attribute [RFC4519] or email address [RFC9598].

```
